.cardsquare {
  float: left;
}

html {
  font-size: 1em;
}

header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2vh;
}

.cardback {
  width: 100%;
}

.stat {
  float: left;
  font-size: 1.4rem;
  margin-bottom: 1vh;
}

.newgamelabel {
  text-align: right;
}


/* TODO - set up css for mobile first, with buttons and such at bottom right */
.gameboard {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 80vw;
}


.rickandmorty, 
.mortybutton {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
}

.supermario,
.mariobutton {
  font-family: 'Luckiest Guy', cursive;
  color: black;
}

.restartbutton {
  font-family: monospace;
}



.gamestats {
}

.solved {
  border: 1px solid blue;
}