.board {
  width: 50vw;
}
.card {
  border: 1px solid grey;
  width: 10vw;
  margin: 4px;
  padding: 4px;
  text-align: center;
  float: left;
  height: 10vh;
}

td {
  border: 1px solid green;
}

.TestCenter {
}