$mariofont: 'Luckiest Guy', cursive;
$mortyfont: 'Gloria Hallelujah', cursive;
$morty-color: white;
$mario-color: black;
$breakpoints: (
    "phone":        360px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);


@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}


%bg {
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.mariobg {
    @extend %bg;
    background-image: url('./images/mariobg.jpg');
}

.mortybg {
    @extend %bg;
    background-image: url('./images/mortybg.jpg');
}

//stats bar

header {
    color: red;
    font-size: 116%;
    margin-bottom: 1vh;
    text-align: center;
    @include mq('phone') {
        color: red;
        font-size: 116%;
        margin-bottom: 1vh;
    }
}

%button {
    margin: 0 auto;
    color: black;
}

.btn {
    padding: 0;
}
.rickandmorty {
    font-family: $mortyfont;
    color: $morty-color;
}

.supermario {
    font-family: $mariofont;
    color: $mario-color;
}

.restartbutton {
}

.newgamebuttons {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
}

//game board

.gameboard {
    position: fixed;
    left: 59%;
    transform: translate(-50%);
    width: 100vw;
}

.winsplash {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

//individual cards

.cardsquare {
    float: left;
    width: 26vw;
    // top right bottom left
    margin: 0 2vw 0.2vh 0;
}

.cardback,
.cardface {
    width: 100%;
}

.solved {
    opacity: 0.5;
}

//example use of the media query (mq) mixin.  not actually used in site.
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}






