$mariofont: 'Luckiest Guy', cursive;
$mortyfont: 'Gloria Hallelujah', cursive;
$morty-color: white;
$mario-color: black;
$breakpoints: (
    "phone":        360px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);


@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}


%bg {
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.mariobg {
    @extend %bg;
    background-image: url('./images/mariobg.jpg');
}

.mortybg {
    @extend %bg;
    background-image: url('./images/mortybg.jpg');
}

//stats bar

header {
    color: red;
    font-size: 116%;
    margin-bottom: 1vh;
    text-align: center;
    @include mq('phone') {
        color: red;
        font-size: 116%;
        margin-bottom: 1vh;
    }
}

.newgamebuttons {
    border: 1px dashed black;
    padding: 10%;
}

%button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    cursor: pointer;
}

.newgamelabel {
    text-align: center;
}

.mortybutton {
    @extend %button;
    font-family: $mortyfont;
    background-color: rgb(127, 76, 175);
}

.mariobutton {
    @extend %button;
    font-family: $mariofont;
    background-color: rgb(187, 79, 79);
    
}

.rickandmorty {
    font-family: $mortyfont;
    color: $morty-color;
}

.supermario {
    font-family: $mariofont;
    color: $mario-color;
}

.restartbutton {
    @extend %button;
    background-color: #4CAF50;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    outline: 1px solid black;
}

.gameboard {
    // position: fixed;
    // top: 1%;
    // left: 52%;
    // transform: translate(-50%);
    width: 98vw;
    margin-left: 1.1vw;
    // z-index: 2;
}

.cardbox {
    position: fixed;
    z-index: 9;
    width: 88%;
    top: 82%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.menu-wrapper {
    position: fixed;
    z-index: 6;
    width: 90vw;
    margin-left: 5vw;
}

%menu {
    z-index: 4;
    background-color: white;
    position: absolute;
    // height:10%;
    width: 100%;
    border-radius: 10% 10% 10% 10%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.menu-static {
    @extend %menu;
    top: 60%;
}

.menu-hidden {
    display: none;
}

.menu-up {
    @extend %menu;
    animation-name: cardflyup;
}

.menu-down {
    @extend %menu;
    animation-name: cardflydown;
}

/* The animation code */
@keyframes cardflyup {
    from {top: 82vh;}
    to {top: 27vh;}
}

@keyframes cardflydown {
    from {top: 27vh;}
    to {top: 82vh;}
}

.winsplash {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

//individual cards

.cardsquare {
    float: left;
    width: 22.5vw;
    // top right bottom left
    margin: 0 2vw 0.2vh 0;
}

.cardback,
.cardface {
    width: 100%;
    border-radius: 10%;
}

.solved {
    opacity: 0.5;
}

//example use of the media query (mq) mixin.  not actually used in site.
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}

#clickmask {
    position: fixed;
    top:0vh;
    left:0vw;
    // background-color: green;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    opacity: 0.5;
}




